.book {
  display: block;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 10px;
}

h2 {
  background: lightgray;
  padding: 10px;
  color: rgb(18, 63, 146);
  text-align: center;
}

.book_author,
.book_publisher {
  text-align: center;
  padding: 2px;
}

.book_description {
  padding: 5px;
  margin: 0 auto;
  width: 90%;
  font-style: italic;
}

.book_details {
  color: rgb(18, 63, 146);
  text-align: center;
  padding: 2px;
}

/*
 <h2>{props.title}</h2>
      <div className="book_author">by {props.author}</div>
      <div className="book_publisher">
        Published by: {props.publisher}
        on {moment(props.published_date).format("DD MM YYYY")}
      </div>
      <div className="book_description">{props.description}</div>
      <div className="book_details"
*/
